
<head>
    <meta charset="UTF-8">
    <meta   http-equiv="Content-Security-Policy" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="../auth.css">
  </head>

  
  <body>
    <button id="login" type="submit">Login</button>
    <script type="text/javascript">
    document.getElementById("login").onclick = function () {
        location.href = "loginPage";
    };
</script>
    <button id="signup" type="submit">Signup</button>
    <script type="text/javascript">
        document.getElementById("signup").onclick = function () {
            location.href = "signupPage";
        };
    </script>
  </body>

  